.nameSelect{
    width: 100%;
    max-width: $inputWidth;
    margin: 0 auto;
    background-color: white;
    border-radius: $mainRoundness;
    overflow: hidden;
    input{
      width: 94%;
      margin: 0 auto;
      border: none;
      font-size: 1.2rem;
      text-align: center;
    }
    input:focus{
      outline: none;
    }
    p{
      margin: 0;
      font-size: 0.8rem;
      font-weight: lighter;
      color: grey;
    }
  }