$mainColor: white;
$transparant: rgba(0,0,0,0);
$bgColor: lightblue;
$mainDark: rgba(240, 128, 128, 0.959);
$secondaryLight: rgb(216, 136, 226);
$maxWidth: 82rem;
$mobileSpacing: 100%;
$navHeight: 3rem;
$inputWidth: 40rem;
$mainRoundness: 2rem;
@import './downloadList.scss';
@import './videoSearch.scss';
@import './nameSelect.scss';
@import './navigation.scss';
@import './formatSelect.scss';
@import './about.scss';



.App {
    text-align: center;
    background-image: linear-gradient(lightblue, violet);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    main{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        overflow: auto !important;
        /* max-width: $maxWidth; */
        /* background-color: $bgColor; */
        
    }
  }
  .mobileBack{
    display: none !important;
  }
  .downloadContainer{
    /* background-color: $bgColor; */
    /* height: calc(100% - 3rem); */
    //height: 100%;
    overflow: auto;
    //display: flex;
   }
  #dlComponent{
    text-align: center;
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 1rem;
    
  }
  

  .slideInFromTop{
    transform-origin: top;
    animation: slideInDiv 1s;
  }
  .spinLoad{
    animation: spin90 1.5s;
  }
  .centerAll{
    display: flex;
    justify-content: center;
    align-items: center;        
    align-content: center;   ;
    *{
      margin: 0 auto;
    }
  }

  .roundedButton{
    border-radius: $mainRoundness;
    border: 1px solid grey;
    margin: 0 auto 0 auto !important;
    height: 2.6rem;
    width: 100%;
    max-width: 12rem;
    background-color: white;
    font-weight: bold;
  }

  .roundedButton:hover{
    color: white;
    background-color: black !important;
  }

  
  .aboutComp{
    max-width: $maxWidth;
    margin: 12rem auto;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    .quickInfo{
      grid-column: 1/3;
    }
    section{
      border-radius: 2rem;
      border: 1px solid black;
    }
}

 .mobileAboutComp{
    display: none;      
}
  @media (min-width: 20px) and (max-width: 480px) {
    .App {
      overflow: hidden !important;
      #welcomeBanner{
        display: none !important;
      }
      main{
        height: 100% !important;
        overflow: hidden;
        
      }
      .downloadContainer{
        height: 100%;
        display: flex;
      }
      #dlComponent{
        align-self: center;
        padding: 2rem 1rem 2rem 1rem;
        border-radius: 0;
        width: 100%;
        background-color: transparent;
        h1{
          margin: 0;
          padding: 0;
        }
        #videoSearchForm{
          div{
              border: none;
              background-color: $transparant;
              display: block;
              border-radius: 0;
          }
          input[type='text']{
              /* border-radius: $mainRoundness; */
              border-radius: $mainRoundness;
              margin: 0.4rem auto;
              padding: 0.4rem 0;
              background-color: white;
              border: 1px solid grey;
              box-sizing: border-box;
            }
         
        }
        
      }
      .startScreenMobile{
        align-self: unset !important;
        padding-top: 6rem !important;

      }
      .radioButtons{
        font-size: 0.6rem !important;  
      }
    }
    .topNav{
      display: none !important;
    }
    .mobileNavToggle{
      display: flex !important;
      align-items: center;
      *{
        margin: 0 auto;
      }
    }
    .downloadList{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(lightblue,violet);
      z-index: 1;
      overflow: hidden;
      animation: pushFromTop 0.5s ease-in;
      .downloadListHeader{
        height: 7rem;
        .downloadListClose{
          display: none;
        }
      }
      .listContainer{
        padding-bottom: 8rem;
        /* ADD UP TO 100% with 7rem Header and 8rem padding */
        height: calc(100% - 15rem) !important;
        width: 94% !important;
        margin: 0 auto;
      }
    }
 
    .downloadListToggle{
      background-color: rgba(180,200,200,0.4) !important;
      position: absolute;
      z-index: 2;
      bottom: 2%;
      left: 1%;
      margin: 0 auto;
      i{
        font-size: 2.4rem;
      }
    }
    // fixing nav jumping into name field on my phone... different on other phones
    .mobileAdvanced{
      position: relative;
      margin: 0;
      transform: translateY(2.5rem)
    }

    .mobileBack{
      display: flex !important;
      width: 3rem !important;
      height: 3rem !important;
    }

    .aboutComp{
      display: none !important;
    }
    .mobileAboutComp{
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      background-image: linear-gradient(lightblue, violet);
      section{
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  
  
  .mobileNavToggle{
    display: none;
    width: 3rem;
    height: 3rem;
    position: fixed; 
    right: 1rem;
    top: 1rem;
    background-color: rgba(35, 172, 190, 0.349);
    border-radius: 50%;
    z-index: 1; 

  }
  
  .undecoratedLink{
    text-decoration:none;
    color: black;
    
  }
  
  @keyframes pushFromTop{
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(0);
    }
  }
  @keyframes openNav{
    0%{
      height: 0;
      width: 0;
    }
    100%{
      height: 200%;
      width: 200%;      
    }
  }
  
  @keyframes slideInDiv{
    0%{
      transform: scale(0.1);
    }
    100%{
      transform: scale(1)
    }
  }


  @keyframes spin90{
    0%{
      opacity: 0;
      transform: rotateZ(270deg);
    }
    100%{
      opacity: 1;
      transform: rotateZ(0deg);
    }
  }




  #welcomeBanner{
    /* background-color: lightgrey; */
    padding: 4rem 0 2rem 0;
    display: flex;
    align-items: center;
    div{
      margin: 0 auto;
      h1{
        color: white;
        font-size: 4rem;
        font-weight: bold;
        padding:0;
        margin:0;
      }
      p{
        color: white;
        margin: 0;
      }
      button{
        margin-top: 2rem !important;
      }
    }
    
  }

  .logo{
    margin: 0 auto;
    width: 8rem;
  }