.App {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(violet));
  background-image: linear-gradient(lightblue, violet);
  background-repeat: no-repeat;
  background-size: cover;
}

.App main {
  margin: 0 auto;
  width: 100%;
  /* max-width: $maxWidth; */
  /* background-color: $bgColor; */
}

.App main .mainSection {
  /* background-color: white; */
}

#dlComponent {
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 1rem;
}

.App-link {
  color: #61dafb;
}

#videoSearchForm {
  padding: 0 0 2rem 0;
  display: block;
  width: 100%;
  max-width: 34rem;
  margin: 0 auto;
}

#videoSearchForm div {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  border-radius: 3rem;
  border: 0.1rem solid white;
  background-color: white;
  overflow: hidden;
}

#videoSearchForm input {
  border: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
}

#videoSearchForm input[type='submit'] {
  background-color: lightcoral;
}

.roundedButton {
  border-radius: 2rem;
  border: 1px solid grey;
  margin: 0 auto 0 auto !important;
  height: 2.6rem;
  width: 100%;
  max-width: 12rem;
  background-color: white;
  font-weight: bold;
}

.roundedButton:hover {
  color: white;
  background-color: black !important;
}

@media (min-width: 20px) and (max-width: 480px) {
  .App #welcomeBanner {
    display: none !important;
  }
  .App main {
    height: 100%;
    overflow: hidden;
    background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(violet));
    background-image: linear-gradient(lightblue, violet);
  }
  .App main .mainSection {
    height: 100%;
    background-color: transparent !important;
  }
  .App .downloadContainer {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .App #dlComponent {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0rem 1rem 2rem 1rem;
    border-radius: 0;
    background-color: transparent;
  }
  .App #dlComponent #videoSearchForm div {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    border-radius: 0;
  }
  .App #dlComponent #videoSearchForm input[type='text'] {
    border-radius: 0.2rem;
    margin: 0.4rem auto;
    padding: 0.4rem 0;
    background-color: white;
    border: 1px solid grey;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .App .radioButtons {
    font-size: 0.6rem !important;
  }
  .topNav {
    display: none !important;
  }
  .mobileNavToggle {
    display: block !important;
  }
  .downloadList {
    position: absolute;
    top: 0;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(violet));
    background-image: linear-gradient(lightblue, violet);
    z-index: 1;
  }
  .listContainer {
    height: calc(100% - 10rem) !important;
    padding: 1rem 0;
    width: 94% !important;
    margin: 0 auto;
  }
  .downloadListToggle {
    background-color: rgba(180, 200, 200, 0.4) !important;
    position: absolute;
    z-index: 2;
    bottom: 1%;
    left: 1%;
  }
}

/*   .mobileNav{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: orange;
    display: grid;
    ul{
     padding: 0;
     align-self: center;
     display: grid;
     a{
      margin: 3.4rem 0;
      color: red;
     }
    }
  } */
.mobileNavToggle {
  display: none;
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  background-color: rgba(35, 172, 190, 0.349);
  border-radius: 50%;
  z-index: 1;
}

@-webkit-keyframes openNav {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 200%;
    width: 200%;
  }
}

@keyframes openNav {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 200%;
    width: 200%;
  }
}

/* .mobileNavToggleOpen{
    height: 200% !important;
    width: 200% !important;
  } */
.mobileNav {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.mobileNav #mobileNavOuter {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  overflow: hidden;
}

.mobileNav #mobileNavOuter #mobileNavInner {
  height: 0%;
  width: 0%;
  position: absolute;
  background-color: #d888e2;
  border-radius: 50%;
  top: -50%;
  right: -50%;
  overflow: hidden;
  -webkit-animation: openNav 1s forwards;
          animation: openNav 1s forwards;
}

.mobileNav #mobileNavOuter #innerContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50vh;
  right: 50vw;
  display: -ms-grid;
  display: grid;
}

.mobileNav #mobileNavOuter #innerContainer ul {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  padding: 0;
}

.mobileNav #mobileNavOuter #innerContainer ul a {
  padding: 1rem 0;
  margin: 3rem 0;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

.topNav {
  z-index: 1;
  /* position: fixed; */
  top: 0;
  height: 3rem;
  display: -ms-grid;
  display: grid;
  width: 100%;
  background-color: white;
  padding: 0;
  /* border-bottom: 0.1rem solid rgba(200,200,200,0.6); */
}

.topNav ul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.topNav ul a {
  margin: 0 4rem;
}

.navList {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* max-width: 50rem; */
  max-width: 82rem;
  /* justify-content: space-between; */
  padding: 0 !important;
}

.navList > .somePadding {
  list-style: none;
  cursor: pointer;
}

.navList > .somePadding:hover {
  background-color: rgba(200, 200, 200, 0.4);
}

.undecoratedLink {
  text-decoration: none;
  color: black;
}

.typeSelect {
  max-width: 34rem;
  width: 100%;
  margin: 0 auto;
}

.typeSelect div {
  margin: 0.4rem 0;
}

.typeSelect .radioButtons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  font-size: 0.8rem;
}

.typeSelect .radioButtons input[type='radio'] {
  display: none;
}

.typeSelect .radioButtons label {
  border-radius: 0.2rem;
  display: block;
  background-color: white;
  padding: 0.4rem 0 0.4rem 0;
  border: 1px solid rgba(0, 0, 0, 0);
}

.typeSelect .radioButtons input[type="radio"]:checked + label {
  border: 1px solid black;
  background-color: lightgrey;
}

.typeSelect select {
  width: 100%;
  max-width: 8rem;
  background-color: white;
  font-weight: bold;
  margin: 0 auto;
}

.typeSelect .advancedType {
  background-color: white;
  max-width: 24rem;
  border-radius: 0.2rem;
  margin: 1rem auto 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.typeSelect .advancedType select {
  border: none;
  margin: 0;
}

.downloadContainer {
  /* background-color: $bgColor; */
  height: calc(100% - 3rem);
  overflow: auto;
}

.downloadList {
  max-width: 40rem;
  margin: 0 auto;
}

.downloadList .downloadListHeader {
  border-radius: 0.2rem;
  border: 1px solid black;
  margin: 0 1rem;
}

.listContainer {
  overflow: auto;
  width: 100%;
}

.listContainer div {
  display: -ms-grid;
  display: grid;
  padding: 0.5rem 0;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.listContainer div p, .listContainer div a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

.downloadListToggle {
  border-radius: 50%;
  background-color: orange;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.downloadListToggle p {
  margin: 0 auto;
}

.fullSizeBg {
  background-image: url("../media/world.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#welcomeBanner {
  /* background-color: lightgrey; */
  padding: 4rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcomeBanner div {
  margin: 0 auto;
}

#welcomeBanner div h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#welcomeBanner div p {
  color: white;
  margin: 0;
}

#welcomeBanner div button {
  margin-top: 2rem !important;
}
/*# sourceMappingURL=style.css.map */