.downloadList {
  max-width: 40rem;
  margin: 0 auto;
}

.downloadList .downloadListHeader {
  border-radius: 2rem;
  border: 1px solid black;
  margin: 0 1rem;
}

.listContainer {
  overflow: auto;
  width: 100%;
}

.listContainer div {
  display: -ms-grid;
  display: grid;
  padding: 0.5rem 0;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.listContainer div p, .listContainer div a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

.downloadListClose {
  cursor: pointer;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid grey;
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: spin90 1.5s;
          animation: spin90 1.5s;
}

.downloadListClose p {
  margin: 0.2rem auto;
}

.downloadListClose i {
  margin: 0 auto;
  font-size: 2.4rem;
}

.downloadListToggle {
  border-radius: 2rem;
  font-weight: bold;
  border: 1px solid grey;
  background-color: white;
  width: 12rem;
  height: 2.6rem;
  margin: 2rem auto 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.downloadListToggle p {
  margin: 0 auto;
}

#videoSearchForm {
  padding: 0 0 2rem 0;
  display: block;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

#videoSearchForm div {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  border-radius: 3rem;
  border: 0.1rem solid white;
  background-color: white;
  overflow: hidden;
}

#videoSearchForm input {
  border: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
}

#videoSearchForm input[type='submit'] {
  background-color: lightcoral;
}

.nameSelect {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
}

.nameSelect input {
  width: 94%;
  margin: 0 auto;
  border: none;
  font-size: 1.2rem;
  text-align: center;
}

.nameSelect input:focus {
  outline: none;
}

.nameSelect p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: lighter;
  color: grey;
}

/* MOBILE NAV ANIMATION DIV SOUP */
.mobileBack {
  display: none;
}

.mobileNav {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.mobileNav #mobileNavOuter {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  overflow: hidden;
}

.mobileNav #mobileNavOuter #mobileNavInner {
  height: 0%;
  width: 0%;
  position: absolute;
  background-color: #d888e2;
  border-radius: 50%;
  top: -50%;
  right: -50%;
  overflow: hidden;
  -webkit-animation: openNav 1s forwards;
          animation: openNav 1s forwards;
}

.mobileNav #mobileNavOuter #innerContainer {
  position: absolute;
  width: 100vw;
  /* height: 100vh; */
  height: 50%;
  top: 50vh;
  right: 50vw;
  display: -ms-grid;
  display: grid;
}

.mobileNav #mobileNavOuter #innerContainer ul {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  padding: 0;
}

.mobileNav #mobileNavOuter #innerContainer ul a {
  padding: 1rem 0;
  margin: 3rem 0;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

.topNav {
  z-index: 1;
  top: 0;
  height: 3rem;
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding: 0;
  /* border-bottom: 0.1rem solid rgba(200,200,200,0.6); */
}

.topNav ul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.topNav ul a {
  margin: 0 4rem;
}

.navList {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* max-width: 50rem; */
  max-width: 82rem;
  /* justify-content: space-between; */
  padding: 0 !important;
}

.navList > .somePadding {
  list-style: none;
  cursor: pointer;
}

.navList > .somePadding:hover {
  background-color: rgba(200, 200, 200, 0.4);
}

.typeSelect {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
}

.typeSelect div {
  margin: 0.4rem 0;
}

.typeSelect .radioButtons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  font-size: 0.8rem;
}

.typeSelect .radioButtons input[type='radio'] {
  display: none;
}

.typeSelect .radioButtons label {
  border-radius: 2rem;
  display: block;
  background-color: white;
  padding: 0.4rem 0 0.4rem 0;
  border: 1px solid rgba(0, 0, 0, 0);
}

.typeSelect .radioButtons input[type="radio"]:checked + label {
  border: 1px solid black;
  background-color: rgba(240, 128, 128, 0.959);
}

.typeSelect select {
  width: 100%;
  max-width: 8rem;
  background-color: white;
  font-weight: bold;
  margin: 0 auto;
}

.typeSelect .advancedType {
  background-color: white;
  max-width: 24rem;
  overflow: hidden;
  border-radius: 2rem;
  margin: 1rem auto 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.typeSelect .advancedType select {
  border: none;
  margin: 0;
}

.typeSelect .advancedType .advancedTypeP {
  margin: 0.4rem !important;
}

.typeSelect .downloadAnchor {
  display: block;
  max-width: 12rem;
  margin: 0 auto;
}

.App {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(violet));
  background-image: linear-gradient(lightblue, violet);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.App h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.App main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto !important;
}

.mobileBack {
  display: none !important;
}

.downloadContainer {
  overflow: auto;
}

#dlComponent {
  text-align: center;
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 1rem;
}

.slideInFromTop {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: slideInDiv 1s;
          animation: slideInDiv 1s;
}

.spinLoad {
  -webkit-animation: spin90 1.5s;
          animation: spin90 1.5s;
}

.centerAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.centerAll * {
  margin: 0 auto;
}

.roundedButton {
  border-radius: 2rem;
  border: 1px solid grey;
  margin: 0 auto 0 auto !important;
  height: 2.6rem;
  width: 100%;
  max-width: 12rem;
  background-color: white;
  font-weight: bold;
}

.roundedButton:hover {
  color: white;
  background-color: black !important;
}

.aboutComp {
  max-width: 82rem;
  margin: 12rem auto;
  font-size: 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.aboutComp .quickInfo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.aboutComp section {
  border-radius: 2rem;
  border: 1px solid black;
}

.mobileAboutComp {
  display: none;
}

@media (min-width: 20px) and (max-width: 480px) {
  .App {
    overflow: hidden !important;
  }
  .App #welcomeBanner {
    display: none !important;
  }
  .App main {
    height: 100% !important;
    overflow: hidden;
  }
  .App .downloadContainer {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .App #dlComponent {
    -ms-grid-row-align: center;
        align-self: center;
    padding: 0 1rem;
    border-radius: 0;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    /* grid-auto-rows: min-content; */
    background-color: transparent;
  }
  .App #dlComponent .App-header {
    margin: 4rem 0 1rem 0;
  }
  .App #dlComponent .logo {
    margin-top: 4rem;
  }
  .App #dlComponent h1 {
    margin: 1rem 0;
    padding: 0;
  }
  .App #dlComponent #videoSearchForm {
    margin-top: 1rem;
  }
  .App #dlComponent #videoSearchForm div {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    border-radius: 0;
  }
  .App #dlComponent #videoSearchForm input[type='text'] {
    border-radius: 2rem;
    margin: 0.4rem auto;
    padding: 0.4rem 0;
    background-color: white;
    border: 1px solid grey;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .App .startScreenMobile {
    display: block !important;
  }
  .App .radioButtons {
    font-size: 0.6rem !important;
  }
  .topNav {
    display: none !important;
  }
  .mobileNavToggle {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobileNavToggle * {
    margin: 0 auto;
  }
  .downloadList {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(violet));
    background-image: linear-gradient(lightblue, violet);
    z-index: 1;
    overflow: hidden;
    -webkit-animation: pushFromTop 0.5s ease-in;
            animation: pushFromTop 0.5s ease-in;
  }
  .downloadList .downloadListHeader {
    height: 7rem;
  }
  .downloadList .downloadListHeader .downloadListClose {
    display: none;
  }
  .downloadList .listContainer {
    padding-bottom: 8rem;
    /* ADD UP TO 100% with 7rem Header and 8rem padding */
    height: calc(100% - 15rem) !important;
    width: 94% !important;
    margin: 0 auto;
  }
  .downloadListToggle {
    background-color: rgba(180, 200, 200, 0.4) !important;
    z-index: 2;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    margin: 0 0 2rem 0 !important;
  }
  .downloadListToggle i {
    font-size: 2.4rem;
  }
  .mobileAdvanced {
    position: relative;
    margin: 0;
  }
  .mobileBack {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 3rem !important;
    height: 3rem !important;
  }
  .aboutComp {
    display: none !important;
  }
  .mobileAboutComp {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(violet));
    background-image: linear-gradient(lightblue, violet);
  }
  .mobileAboutComp section {
    width: 90%;
    margin: 0 auto;
  }
}

.mobileNavToggle {
  display: none;
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  background-color: rgba(35, 172, 190, 0.349);
  border-radius: 50%;
  z-index: 1;
}

.undecoratedLink {
  text-decoration: none;
  color: black;
}

@-webkit-keyframes pushFromTop {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes pushFromTop {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes openNav {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 200%;
    width: 200%;
  }
}

@keyframes openNav {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 200%;
    width: 200%;
  }
}

@-webkit-keyframes slideInDiv {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes slideInDiv {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spin90 {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(270deg);
            transform: rotateZ(270deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes spin90 {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(270deg);
            transform: rotateZ(270deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

.logo {
  margin: 0 auto;
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */