$mainColor: white;
$transparant: rgba(0,0,0,0);
$bgColor: lightblue;
$secondaryLight: rgb(216, 136, 226);
$maxWidth: 82rem;
$mobileSpacing: 100%;
$navHeight: 3rem;

$mainRoundness: 0.2rem;
.App {
    text-align: center;
    
    main{
        margin: 0 auto;
        width: 100%;
        /* max-width: $maxWidth; */
        background-color: $bgColor;
    }
  }

  @media (min-width: 20px) and (max-width: 480px) {
    .App {
      main{
        height: 100vh;
        overflow: hidden;
        background-image: linear-gradient(lightblue,violet);
      }
      .downloadContainer{
        height: 100%;
        display: flex;
        
      }
      #dlComponent{
        align-self: center;
        padding: 0rem 1rem 2rem 1rem;
        border-radius: 0;
        background-color: transparent;
      }
      .radioButtons{
        font-size: 0.6rem !important;  
      }
    }
    .topNav{
      display: none !important;
    }
    .mobileNavToggle{
      display: block !important;
    }
    .downloadList{
      position: absolute;
      top: 0;
      height: 100%;
      overflow: hidden;
      background-image: linear-gradient(lightblue,violet);;
      z-index: 2;
      .downloadListHeader{
        border-radius: $mainRoundness;
        border: 1px solid black;
        margin: 0 1rem;
        height: 8rem;
      }
    }
    .listContainer{
      height: calc(100% - 10rem) !important;
      padding: 1rem 0;
      width: 94% !important;
      margin: 0 auto;
      div{
        display: grid;
        padding: 0.5rem 0;
        grid-template-columns: 1fr 1fr 1fr;
        p,a{
          align-self: center;
          margin: 0;
        }
        
      }
    }
    .downloadListToggle{
      position: absolute;
      z-index: 1;
      top: 90%;
      left: 10%;
    }
    }
  #dlComponent{
    text-align: center;
    /* background-color: $bgColor; */
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 0.6rem;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  #videoSearchForm{
    padding: 0 0 2rem 0;
    display: block;
    width: $mobileSpacing;
    max-width: 34rem;
    margin: 0 auto;

    div{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 70% 30%;
        border-radius: 0.2rem;
        border: 0.1rem solid white;
        background-color: $mainColor;
        overflow: hidden;
    }
    input{
        border: none;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        background-color: $transparant;
      }
    input[type='submit']{
        background-color: lightcoral;
    }
  }

  .roundedButton{
    border-radius: 0.2rem;
    border: none;
    margin: 0 auto 0 auto !important;
    height: 2rem;
    width: 100%;
    max-width: 10rem;
    background-color: white;
    font-weight: bold;
  }

  .roundedButton:hover{
    color: white;
    background-color: black !important;
  }
  

  
/*   .mobileNav{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: orange;
    display: grid;
    ul{
     padding: 0;
     align-self: center;
     display: grid;
     a{
      margin: 3.4rem 0;
      color: red;
     }
    }
  } */
  .mobileNavToggle{
    display: none;
    width: 3rem;
    height: 3rem;
    position: fixed; 
    right: 1rem;
    top: 1rem;
    background-color: rgba(35, 172, 190, 0.349);
    border-radius: 50%;
    z-index: 1;
  }
  
  @keyframes openNav{
    0%{
      height: 0;
      width: 0;
    }
    100%{
      height: 200%;
      width: 200%;      
    }
  }
  /* .mobileNavToggleOpen{
    height: 200% !important;
    width: 200% !important;
  } */

  .mobileNav{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    //animation: openNav 2s forwards;
    #mobileNavOuter{
      position: relative;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translate(0, 0);
      overflow: hidden;
      #mobileNavInner{
        height: 0%;
        width: 0%;
        position: absolute;
        background-color: $secondaryLight;
        border-radius: 50%;
        top: -50%;
        right: -50%;
        overflow: hidden;
        //transition: 1s;
        animation: openNav 1s forwards
      }
      #innerContainer{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 50vh;
        right: 50vw;
        display: grid;
        ul{
          align-self: center;
          display: grid;
          padding: 0;
          a{
            padding: 1rem 0;
            margin: 3rem 0;
            color: white;
            font-size: 1.6rem;
            font-weight: bold;
           }
        }
        
    }
    
    }
  }
  
  .topNav{
    z-index: 1;
    /* position: fixed; */
    top: 0;
    height: $navHeight;
    display: grid;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0;
    /* border-bottom: 0.1rem solid rgba(200,200,200,0.6); */
    ul{
      align-self: center;
      a{
        margin: 0 4rem;
      }
    }
  }

  .navList{
    margin: 0 auto;
    display: flex;
    /* max-width: 50rem; */
    max-width: $maxWidth;
    /* justify-content: space-between; */
    padding: 0 !important;
  }
  
  .navList>.somePadding{
    list-style: none;
    cursor: pointer;
  }

  .navList>.somePadding:hover{
    background-color: rgba(200,200,200,0.4)
  }
  
  
  .undecoratedLink{
    text-decoration:none;
    color: black;
    
  }

  .typeSelect{
      max-width: 34rem;
      width: $mobileSpacing;
      margin: 0 auto;
      .radioButtons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5rem;
        font-size: 0.8rem;
        input[type='radio']{
            display: none;
        }
        label{
            border-radius: $mainRoundness;
            display: block;
            background-color: $mainColor;
            padding: 0.4rem 0 0.4rem 0;
            border: 1px solid $transparant;
        }
        input[type="radio"]:checked+label{ 
            border: 1px solid black;
        } 
      }
      select{
        width: 100%;
        max-width: 8rem;
        background-color: white;
        font-weight: bold;
        margin: 0 auto;
      }
      .advancedType{
        background-color: white;
        max-width: 24rem;
        border-radius: $mainRoundness;
        margin: 1rem auto 1rem auto;
        display: flex;
        justify-content: space-around;
        select{
            border:none;
            margin: 0;
        }
      }
  }

  .downloadContainer{
   /* background-color: $bgColor; */
   height: calc(100vh - 3rem);
   overflow: auto;
  }
  .downloadList{
    max-width: 40rem;
    margin: 0 auto;
    .downloadListHeader{
      border-radius: $mainRoundness;
      border: 1px solid black;
      margin: 0 1rem;
    }
  }
  .listContainer{
    height: 36rem;
    overflow: auto;
    width: 100%;
    div{
      display: grid;
      padding: 0.5rem 0;
      grid-template-columns: 1fr 1fr 1fr;
      p,a{
        align-self: center;
        margin: 0;
      }
    }
  }

  .downloadListToggle{
    border-radius: 50%;
    background-color: orange;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    user-select: none;
    p{
      margin: 0 auto;
    }
  }