.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#videoSearchForm{
  padding: 2rem;
  background-color: lightgrey;
  display: block;
  width: 100%;
  max-width: 24rem;
  border-radius: 0.6rem;
  margin: 0 auto;
  display: grid;
}
#videoSearchForm>input{
  border-radius: 0.2rem;
  border: none;
  text-align: center;
}
#videoSearchForm>input[type='submit']{
  margin: 1rem auto 0 auto;
  height: 2rem;
  width: 100%;
  max-width: 10rem;
  background-color: white;
  font-weight: bold;
}
#videoSearchForm>select{
  max-width: 10rem;
  background-color: white;
  font-weight: bold;
  margin: 0 auto;
}
#videoSearchForm>input[type='submit']:hover{
  color: white;
  background-color: black;
}