.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#videoSearchForm{
  padding: 2rem;
  background-color: lightgrey;
  display: block;
  width: 100%;
  max-width: 24rem;
  border-radius: 0.6rem;
  margin: 0 auto;
}
