.App {
  text-align: center;

}
#dlComponent{
  text-align: center;
  background-color: lightgrey;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  border-radius: 0.6rem;

}

.App-link {
  color: #61dafb;
}

#videoSearchForm{
  padding: 2rem 0 1rem 0;
  display: block;
  width: 100%;
  max-width: 24rem;
  margin: 0 auto;
  display: grid;
  width: 100%;
}
#videoSearchForm>input{
  border-radius: 0.2rem;
  border: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  word-wrap: break-word;
}
.roundedButton{
  border-radius: 0.2rem;
  border: none;
  margin: 1rem auto 0 auto !important;
  height: 2rem;
  width: 100%;
  max-width: 10rem;
  background-color: white;
  font-weight: bold;
}
#videoSearchForm>select{
  width: 100%;
  max-width: 10rem;
  background-color: white;
  font-weight: bold;
  margin: 0 auto;
}
.roundedButton:hover{
  color: white;
  background-color: black;
}
